*{
    margin: 0;
    padding: 0;
    
    
}

header{
    background-color: white;
    box-shadow: 0px 2px 10px rgb(83, 80, 80);
    display: flex;
    justify-content: space-between;
}

.logo{
    font-style: oblique;
    font-size: 20px;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    cursor: pointer;

}

.sing{
    font-style: oblique;
    font-size: 20px;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    cursor: pointer;
}

.login{
    margin-left: 75%;
    font-size: 20px;
    font-style: oblique;
    margin-top: 1%;
    margin-bottom: 1%;
    cursor: pointer;
}


.barra{
    font-size: 20px;
    margin-top: 1%;
    
}

.logo:hover{
    color: aqua;
    background-color:rgb(83, 80, 80);
    width: 10%;
    display: flex;
    border-radius: 4vh;

}

.layouts{
    display: flex;
    width: 95%;
    background: rgba(236, 236, 241, 0.315);
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: 2.5%;
    align-items: center;
    
}

.layout1{
    position:relative;
    overflow-wrap: break-word;
    width: 25%;
    margin-left: 3%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.viag{
    margin-top: 3%;
    margin-bottom: 2%;
}

.txtviagem1{
    position: relative;
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: 2%;
    font-size: 18px;
    line-height: 20pxpx;
    

}

.passagens{
    background: rgba(54, 36, 218, 0.596);
    border-radius: 4vh;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    cursor: pointer;
}

.layout2{
    position: relative;
    font-size:30px;
    
}


.layout3{
    position:relative;
    overflow-wrap: break-word;
    width: 25%;
    margin-right: 3%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.txtp{
    display: flex;
    align-items: center;
    justify-content: center;
}

.desc{
    font-size: 20px;
    position: relative;
    margin-top: 3%;
    margin-bottom: 2%;

}

.txtviagem2{
    position: relative;
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: 2%;
    font-size: 18px;
    line-height: 20pxpx;
}

.ver{
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgba(77, 146, 31, 0.801);
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4vh;
    margin-left:1% ;
    font-size: 20px;
    cursor: pointer;
}

.sec{
    background-color: black;
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 95%;
    margin-left: 2.5%;
}

.insc{
    width: 15%;
    position: relative;
    margin-top: 1%;
    margin-bottom: 1%;
    color: white;
    display: flex;
    justify-content: space-around;
}

.ins{
    width: 5vh;
}

.insm{
    margin-top: 3%;
    margin-right: 7%;
}

.facc{
    width: 15%;
    position: relative;
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-around;
}

.fac{
    width: 5vh;
}
.facm{
    color:white;
    margin-top: 3%;
    margin-bottom: 7%;
}

.wstc{
    width: 15%;
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
    margin-bottom: 1%;
    
}

.wts{
    width: 5vh;
}

.wtsm{
    margin-top: 3%;
    margin-bottom: 7%;
    color: white;
}